@font-face {
    font-family: 'Ultra-Regular';
    src: url("../font/Ultra-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: 'Unkempt-Bold';
    src: url("../font/Unkempt-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: 'Unkempt-Regular';
    src: url("../font/Unkempt-Regular.ttf") format("truetype");
  }
  
  body {
    background-color: black;
  }
  
  #Orientalism {
    display: none;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    font-family: sans-serif;
    height: 100vh;
  }
   